$basic-white: #fff;
$basic-black: #000;
$basic-orange: #ff6600;
$basic-dark-blue: #172139;
$basic-blue-transparent: rgba(23, 33, 57, 0.5);
$basic-light-grey: #efefef;
$basic-dark-grey: #333;
$light-grey: #ccc;
$lighter-grey: #f2f2f2;

$bg-grey: #f4f4f4;
